@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Staatliches';
  src: url('../fonts/Staatliches-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ultra';
  src: url('../fonts/Ultra-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FjallaOne';
  src: url('../fonts/FjallaOne-Regular.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Shrikhand';
  src: url('../fonts/Shrikhand-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playball';
  src: url('../fonts/Playball-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.custom-text{
  font-family: "Lobster", sans-serif !important;
  font-feature-settings: "kern";
  text-transform: uppercase;
  text-align: center;
  /* font-weight: bold; */
  /* padding: 15vh 20px 20px; */
  -webkit-box-align: center;
  align-items: center;
  letter-spacing: 0.16em;
  color: rgb(255, 255, 255);
  text-shadow: rgb(255 0 220) 0px 4px 10px;
  text-transform: uppercase;
}

.btn-mint {
  font-family: FjallaOne, sans-serif;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  letter-spacing: 0.16em;
  text-shadow: rgb(255 0 220) 0px 4px 10px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
  background: none !important;
  /* padding: 25px 21px !important; */
  border-radius: 0.5rem !important;
  box-shadow: rgb(255 0 220) 0px 0px 10px, rgb(255 0 220) 0px 0px 10px inset !important;
}

.modal-content{
  border-radius: 0.6rem !important;
  color: #4a4a4a !important;
}

.custom-menu {
  font-family: Playball, sans-serif;
  text-decoration-line: none !important;
  cursor: pointer
}

a {
  text-decoration-line: none !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
